<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="azure:erpConnectionString" value="Endpoint=sb://e2mspilot.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=sz2A+C1nR0GMwdV70rMnNPY4b5zGrDNjR1iz0LuJ2JQ=" />
    <add key="azure:thunderConnectionString" value="Endpoint=sb://rapidthunder.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=acVV64A/zgdtU85yuXK3mlt1ztPY1PHIwTHZktPEvRQ=" />
    <add key="azure:erpQueueName" value="e2mspilotoutboundqueue" />
    <add key="azure:thunderTestQueue" value="E2MSQueuePilot100" />
    <add key="azure:thunderCreatePartnerQueue" value="e2ms.02.queue.partneraccount" />
    <add key="azure:thunderCreatePartnerAdminQueue" value="e2ms.02.queue.partneradmin" />
    <add key="azure:thunderCreatePartnerLocationQueue" value="e2ms.02.queue.partnerlocation" />
    <add key="azure:thunderReplyQueue" value="e2ms.queue.reply" />
    <add key="Epicor:UserName" value="manager" />
    <add key="Epicor:Password" value="e1dpassport" />
    <add key="Epicor:Server" value="hqse10testapp" />
    <add key="Epicor:DynamicQueryPath" value="Epicor10Pilot/ICE/BO/DynamicQuery.svc" />

    <add key="azure:e2msSbusPilot" value="Endpoint=sb://e2ms-sbus-qa.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=pxDuqVnDcsuGZxCDdBwlmRgzo8fupW+c2eKyh0fYiOE=" />
    <add key="azure:e2msSbusPilotPartneraccount" value="e2ms.qa.queue.partneraccount" />
    <add key="azure:e2msSbusPilotPartneradmin" value="e2ms.qa.queue.partneradmin" />
    <add key="azure:e2msSbusPilotPartnerlocation" value="e2ms.qa.queue.partnerlocation" />
    <add key="azure:e2msSbusPilotReply" value="e2ms.qa.queue.reply" />

    <add key="azure:e2msSbusTest" value="Endpoint=sb://e2ms-sbus-qa.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=pxDuqVnDcsuGZxCDdBwlmRgzo8fupW+c2eKyh0fYiOE=" />
    <add key="azure:e2msSbusTestPartneraccount" value="e2ms.qa.queue.partneraccount" />
    <add key="azure:e2msSbusTestPartneradmin" value="e2ms.qa.queue.partneradmin" />
    <add key="azure:e2msSbusTestPartnerlocation" value="e2ms.qa.queue.partnerlocation" />
    <add key="azure:e2msSbusTestReply" value="e2ms.qa.queue.reply" />

    <add key="azure:bbgE2msSbusTest" value="Endpoint=sb://bgonza3838.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=6WZJl3j1P1gJbEKhDXcFv5cQP1HoRiLw+gbbww+xFi4=" />
    <add key="azure:bbgE2msSbusTestCreateCase" value="e2ms_test" />

    <add key="azure:bbgUcsTest" value="Endpoint=sb://bgonza3838.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=6WZJl3j1P1gJbEKhDXcFv5cQP1HoRiLw+gbbww+xFi4=" />
    <add key="azure:bbgQueue" value="ucs_queue_test" />

    <add key="DatabaseConnectionString" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAwPxvvHt+z0qmAx/1Sp9glwAAAAACAAAAAAAQZgAAAAEAACAAAAABe/yEyPoCXVNH5JXueZib3Sf6JLT9TswG1a8d726TLQAAAAAOgAAAAAIAACAAAADyGmEppwKoJ0rb+bOWQb7Q3X0QIRURtjFhpAh6raQk/4ABAAAQMMDgYSRH1QePIWN4E3+IXO3LRgSnif7jU4Ys5UTU1ERITyE3GkA+zXttu2G4ZrqZcbw9KNTFxGJhVMUMdZasvw5lfREpuRkwXZU2WMSyqTcMVG0G9GuPqYwhk/OvnwFdc6d/Z12FG4f98zbe+McfVdr4/DEDr+z/JK3h17g+XaUw6Ei6VVKseEokTvXhcrypoNpWl5Bw/NCeiLw8xNMcPv03WWaxq/Iz+Djjma6cL6QNfdYZlH0A3boP62Xjwav3Wqds5p/PNQMO4XfG1st9kHNvkz/vePt8wFFpuR/62FeXT/+uCAylnQGbV71uDVvHyE7rC/+Y2OedY6w9VSjO+NNSJYoVnLdicErmhCYB/2iYyRLf77WAlJrCUDVDLD8tv84/moApJFBXQ/oPjbsDRyTGuN6XlyPeUeaM+sPtWfI7ronk6U6Ng1hQ2oc9bXNaIk4o4j2ydrA76xXc2TsBYsCk2+aiTC2WTqRkrWP4m2XgVqvjK30Iko0JqAPn/n9AAAAAfx30LMZfJjbVHMhwu5L0u/v1H1NZA64Fag9dbSyouREfdbh0N2C+7U+i208LK2ayoJI0F/KwI92ulLcm7dwtzQ==" />
  
  
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>